@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #0a112d;
  --foreground: #e3e5e9;
  --color-primary: #0a112d;
  --color-secondary: #dca958;
  --color-tertiary: #103558;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html {
  background-color: var(--background);
  color: var(--foreground);
}

body {
  font-family: var(--font-inter), sans-serif;
  
}
.hover\:bg-\[\#e69c31\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(230 156 49 / var(--tw-bg-opacity, 1));
}
.__className_962c5a {
  font-family: __Cairo_962c5a, __Cairo_Fallback_962c5a;
  font-style: normal;
}
img {
  direction: ltr; 
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px !important;
  }
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}
.Btn {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  /* overflow: hidden; */
  border-radius: 7px;
  cursor: pointer;
  transition: all .3s;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(4px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all .3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.Btn {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(4px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1 );
  z-index: -1;
  border-radius: 9px;
  pointer-events: none;
  animation: rotateBG 5s linear infinite;
}

@keyframes rotateBG {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.bg-contact{
  background-image: url('/images/bg-contact.svg') !important;
}
.bg-effect-06{
  background-image: url('/images/svgexport-1.svg') !important;
}
.bg-footer{
  background-image: url('/images/bg-footer.svg') !important;
}